.venv/
venv/
env/
__pycache__/
*.pyc
.env
**/.DS_Store
# system data
# --- Data and Outputs ---
# Ignore the raw datasets (Titanic train/test CSVs)
*.csv
# --- Jupyter Notebook Specifics ---
# Ignore hidden Jupyter checkpoint directories
.ipynb_checkpoints/
*.md
# --- IDE Specifics ---
# If you use VS Code or PyCharm
.vscode/
.idea/
